version: "3.8"

services:
  zookeeper:
    image: zookeeper:3.8
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - zookeeper-data:/data
      - zookeeper-logs:/datalog

  ventas:
    image: elixir:1.15.7-alpine
    container_name: ventas
    network_mode: "host"
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Ventas.Server
    command: elixir --sname ventas --cookie ${SECRET} -S mix run --no-halt --no-compile
    user: "${DOCKER_UID}:${DOCKER_GID}"

  compras:
    image: elixir:1.15.7-alpine
    container_name: compras
    network_mode: "host"
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Compras.Server
    command: elixir --sname compras --cookie ${SECRET} -S mix run --no-halt --no-compile
    user: "${DOCKER_UID}:${DOCKER_GID}"

  pagos:
    image: elixir:1.15.7-alpine
    container_name: pagos
    network_mode: "host"
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Pagos.Server
    command: elixir --sname pagos --cookie ${SECRET} -S mix run --no-halt --no-compile
    user: "${DOCKER_UID}:${DOCKER_GID}"

  envios:
    image: elixir:1.15.7-alpine
    container_name: envios
    network_mode: "host"
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Envios.Server
    command: elixir --sname envios --cookie ${SECRET} -S mix run --no-halt --no-compile
    user: "${DOCKER_UID}:${DOCKER_GID}"

  infracciones1:
    image: elixir:1.15.7-alpine
    container_name: infracciones1
    network_mode: "host"
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Infracciones.Server
      ZOOKEEPER_HOST: "localhost:2181"   # <— recomendado
      NODE_ID: "1"
    command: elixir --sname infracciones1 --cookie ${SECRET} -S mix run --no-halt --no-compile
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      - zookeeper

  infracciones2:
    image: elixir:1.15.7-alpine
    container_name: infracciones2
    network_mode: "host"
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Infracciones.Server
      ZOOKEEPER_HOST: "localhost:2181"   # <— recomendado
      NODE_ID: "2"
    command: elixir --sname infracciones2 --cookie ${SECRET} -S mix run --no-halt --no-compile
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      - zookeeper

  infracciones3:
    image: elixir:1.15.7-alpine
    container_name: infracciones3
    network_mode: "host"
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Infracciones.Server
      ZOOKEEPER_HOST: "localhost:2181"  # <— recomendado
      NODE_ID: "3"
    command: elixir --sname infracciones3 --cookie ${SECRET} -S mix run --no-halt --no-compile
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      - zookeeper

  rest:
    image: elixir:1.15.7-alpine
    container_name: rest
    network_mode: "host"
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.ServiceRest
    command: elixir --sname rest --cookie ${SECRET} -S mix run --no-halt --no-compile
    user: "${DOCKER_UID}:${DOCKER_GID}"

  simulador:
    image: elixir:1.15.7-alpine
    container_name: simulador
    network_mode: "host"
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      SERVER_TO_RUN: Elixir.Libremarket.Compras.Server
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
    command: elixir --sname simulador --cookie ${SECRET} -S mix run --no-halt --no-compile
    user: "${DOCKER_UID}:${DOCKER_GID}"
    profiles:
      - testing

volumes:
  zookeeper-data:
  zookeeper-logs:
